.imagem {
	object-fit: contain;
	height: 100%;
}

.fontePokemon {
	font-family: 'pokemonFont';
}

#pokemonImg {
	width: 100%;
	height: 15rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1rem;
	border: 4px solid black;
	box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.733);
}

#bolaBranca {
	background-color: rgba(206, 197, 197, 0.733);
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0.5rem 0.5rem 1rem rgba(143, 138, 138, 0.733);
	
}

#idModal {
	height: 1rem;
	width: 1rem;
	
}

#modalTitle{
	color: white;
	font-size: larger;
}



#idPokemon h1 {
	position: absolute;
	font-family: 'pokemonFont';
	top: 0rem;
	left: 2rem;
	color: black;
}



#divNomePokemon {
	display: flex;
	justify-content: end;
	align-items: flex-start;
	position: relative;
	bottom: 4rem;
	right: 0.5rem;
}

#divNomePokemon h1 {
	font-family: 'pokemonFont';
	color: #000;
	letter-spacing: 2px;
}

#graphic {
	position: relative;
	bottom: 3rem;
	width: 100%;
}

.graphic {
	height: 6rem;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin: 0;
	padding: 0;
	
}

.fontGraphic {
	font-size: xx-small;
}

.contentGraphic {
	border-radius: 0.5rem 0.5rem 0 0;
	outline: 2px solid black;
	box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.733);
}

#tipo_habilidade {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 6rem;
	position: relative;
	bottom: 2rem;
	border-radius: 1rem;
	color: #000;
	font-family: 'Rubik';
	font-size: large;
}

#tipoCard, #habilidadeCard {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1rem;
	border: 4px solid black;
	box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.733);
}

.contentPesoAltura {
	border-radius: 50%;
	background-color: greenyellow;
	height: 96px;
	border: 0.1rem solid black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #000;
	box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.733);
}

.contentPeso {
	position: relative;
	left: 4.8rem;
	
}

.contentAltura {
	position: relative;
	top: 3.5rem;
	left: 1.8rem;
}